<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HootBoardGame</title>
  <meta name="description" content="HootBoardGame. Your control panel to discover everything about board games in the Net.">
  <meta name="keywords" content="hootboardgame, board, game">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
<div class="left-gap1"><img src="/static/images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
<div class="main">
<div class="header">
<div class="nav-area">
<ul class="nav">
  <li style="border: medium none ;"><a href='http://phorumledge-hootboardgame.rhcloud.com/'>HootBoardGame</a></li>
  <li>Menciones</li>
  <li>Comparativa</li>
  <li>Líderes de opinión</li>
  <li>Seguimiento</li>
  <li>Preguntas y respuestas</li>
  <li>Contacto</li>
</ul>
</div>
<div class="banner-area"><img src="/static/images/banner-1.jpg" alt="#"
 border="0"></div>
</div>
<div class="mid">
<div class="mid-left">
<h3>Herramientas<br>
</h3>
<ul class="left-item">
  <li><a href="http://phorumledge-hootboardgame.rhcloud.com/reports">Menciones<br>
    </a></li>
  <li><a href="http://phorumledge-hootboardgame.rhcloud.com/comparatives">Comparativas<br>
    </a></li>
    <li><a href="http://phorumledge-hootboardgame.rhcloud.com/people">Líderes de opinión<br>
    </a></li>
      <li><a href='http://phorumledge-hootboardgame.rhcloud.com/following'>Seguimiento<br>
    </a></li>

  <li><a href='http://phorumledge-hootboardgame.rhcloud.com/faqs'>Preguntas y respuestas<br>
    </a></li>
  <li><a href='http://phorumledge-hootboardgame.rhcloud.com/contact'>Contacto<br>
    </a></li>
</ul>
</div>
<div class="mid-right">
<h1>Informe de menciones</h1>
    <p class="txt-1">
        HootBoardGame. Prototype 0.03 / 2014/03/16  <br/>
        <hr/>
    </p>
    <br/>
    <h2>{{ report['title'] }}. </h2>
    <p class="txt-1">

 Generado el {{ report['report_date'] }}
<br/>
Para este informe se han consultado los siguientes hilos de LaBSK: {{ links }} hasta la fecha.
<br/>
Ordenado por fecha de más actual a más antiguo.
    <br/>
    Solo se muestran los mensajes que contienen los términos de la busqueda.
    Si los términos están contenidos en el título del asunto, no se muestra ninguno de los mensajes
    </p>
<br/>
    <p class="txt-2">
        {% for line in stats %}
            {{ line }}
            <br/>
        {% endfor %}
    </p>

    <br/>
{% for keyword in keywords %}
<h3>Keyword: {{ keyword }} </h3>

    {% for thread in report[keyword] %}
        <table border ='1' width ="98%">
            <tr> <td class="report">
                <p class="h4">
                    {{ thread['location'] }} /
                    <a href=" {{ thread['link'] }}"> {{ thread['title'] }} </a>
                </p>
                Último mensaje: <i>{{ thread['last_msg_date'] }}.</i> <br/>
                Creado el: <i>{{ thread['creation_date'] }}.</i> <br/>
                Respuestas totales: <b>{{ thread['answers'] }} </b> <br/>
        </td></tr>
        {% for msg in thread['msgs'] %}
            <tr>
                <td class="report">
            <p class="h5">
            {{ msg['date'] }}  / <a href=" {{ msg['link'] }}"> {{ msg['link'] }} </a>
            </p>
            {{msg['body'] }}
            <br/>
            </td> </tr>
        {% endfor %}
            </table>
        <br/>
        <br/>
    {% endfor %}
    </p>
    <hr/>
{% endfor %}



</div>
<div class="footer">
<p class="copyright-text">Copyright 2010. Designed by <a target="_blank"
 href="http://www.htmltemplates.net/">html templates</a></p>
</div>
</div>
<div class="right-gap1"><img src="/static/images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
</div>

<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="/static/images/footnote.gif" class="copyright" alt="htmltemplates.net"></a>
<!--In partnership with--><a href="http://websitetemplates.net">
<img src="/static/images/footnote.gif" class="copyright" alt="websitetemplates.net"></a>
<!--DO NOT Remove The Footer Links-->
</div>
</body>
</html>
