<!DOCTYPE html>
<html>
<head>
    <title>HootBoardGame</title>
</head>
<body>
HootBoardGame main page. <br/>
Prototype 0.01 / 2014/02/19 <br/>
<hr/>
<br/>
<b>Opciones:</b>
<br/>
<a href='{{ reports_url }}'> Reports. </a> Informes sobre palabras claves mencionas en el foro
<br/>
<br/>
<b>Preguntas frecuentes:</b>
<p> ¿Qué es HootBoardGame?</p>
<p> HootBoardGame es un sistema de monitorización de fuentes de información de juegos de mesa.
    El objetivo es extraer información de foros, blogs, tec. que hablen de juegos de mesa y presentarlos
de manera útil.</p>

<p> ¿Cuál es el estado de desarrollo HootBoardGame?</p>
<p> Actualmente existe un minimo producto viable para estudiar la mejor manera de abordar el sistema. Este proucto permite realizar busquedas reales sobre un pequeño fragmento de los mensajes del foro</p>

<p> ¿Cuál es el calendario HootBoardGame?</p>
<p> Continuar implementando nueva funcionalidad y evolucionando el producto viable.</p>


<hr/>
<p> Puedes ponerte en contacto con el desarrollor de HootBoardGame en esta direccion: hootboardgame_arroba_yahoo.es</p>
</body>
</html>