<!DOCTYPE html>
<html>
<head>
    <title>HootBoardGame</title>
</head>
<body>
HootBoardGame main page. <br/>
Prototype 0.01 / 2014/02/19 <br/>
<hr/>

<p> ¿Qué es HootBoardGame?</p>
<p> HootBoardGame es un sistema de monitorización de fuentes d einformación de juegos de mesa.
    El objetivo es extraer información de foros, blogs, tec. que hablen de juegos d emesa y presnetarlos
de manera útil.</p>

<p> ¿Cuál es el estado de desarrollo HootBoardGame?</p>
<p> .</p>

<p> ¿Cuál es el calendario HootBoardGame?</p>
<p> .</p>

<a href='{{ reports_url }}'> Reports. </a>
<hr/>
<p> Puedes ponerte en contacto con el desarrollor de HootBoardGame en esta direccion: hootboardgame_arroba_yahoo.es</p>
</body>
</html>