<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HootBoardGame</title>
  <meta name="description" content="HootBoardGame. Your control panel to discover everything about board games in the Net.">
  <meta name="keywords" content="hootboardgame, board, game">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
<div class="left-gap1"><img src="{{ url_for('static', filename='images/spacer.gif') }}" alt="#" border="0"
 height="1" width="6"></div>
<div class="main">
<div class="header">
<div class="nav-area">
<ul class="nav">
  <li style="border: medium none ;"><a href='http://http://phorumledge-hootboardgame.rhcloud.com/'>HootBoardGame</a></li>
  <li><a href='{{ url_for("reports") }}'>Menciones</a></li>
  <li><a href='{{ url_for("faqs") }}'>Preguntas y respuestas</a></li>
</ul>
</div>
<div class="banner-area"><img src="{{ url_for('static', filename='images/banner-1.jpg') }}" alt="#"
 border="0"></div>
</div>
<div class="mid">
<div class="mid-left">
<h3>Herramientas<br>
</h3>
<ul class="left-item">
  <li><a href="{{ url_for('reports') }}">Menciones<br>
    </a></li>
  <li><a href='{{ url_for("faqs") }}'>Preguntas y respuestas<br>
    </a></li>
</ul>
</div>
<div class="mid-right">
<h1>Menciones</h1>
<p class="txt-1">
Prototype 0.02 / 2014/03/07  <br/>
<hr/>
</p>
<p class="txt-1">
    <b>Informes de menciones: </b> <br/>
    <ul>
    <li><a href='{{ url_for("static_asylum_games") }}'> Editorial Asylum Games y sus juegos. </a>
     </li>
    <li><a href='{{ url_for("static_devir_games") }}'> Editorial Devir (informe de más de 300 Kb). </a>
    </li>
    </ul>
</p>
<br>
<p class="txt-1">
    <b>Fuentes de información: </b> <br/>
    <ul>
    <li> LaBSK: 1127 hilos y 28878 mensajes.

     </li>
    </ul
</p>
<br/>
    <p class="txt-1">
        HootBoardGame busca las menciones de un conjunto de palabras claves en las fuentes de informacion indexadas y devuelve un resultado con las menciones de dichas palabras.
<br/>
        Las herramientas definir búsquedas no están implementadas aún. Mientras puedes consultar alguno de los informes disponibles o solicitar que incluyamos un nuevo informe via correo electronico.
    </p>
</div>
    <br/>
    <hr/>
    <br/>
    <p class="txt-1"> Puedes ponerte en contacto con HootBoardGame en esta dirección: hootboardgame_arroba_yahoo.es</p>
</div>
<div class="footer">
<p class="copyright-text">Copyright 2010. Designed by <a target="_blank"
 href="http://www.htmltemplates.net/">html templates</a></p>
</div>
</div>
<div class="right-gap1"><img src="images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
</div>

<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="{{ url_for('static', filename='images/footnote.gif') }}" class="copyright" alt="htmltemplates.net"></a>
<!--In partnership with--><a href="http://websitetemplates.net">
<img src="{{ url_for('static', filename='images/footnote.gif') }}" class="copyright" alt="websitetemplates.net"></a>
<!--DO NOT Remove The Footer Links-->

</body>
</html>
