<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HootBoardGame</title>
  <meta name="description" content="HootBoardGame. Your control panel to discover everything about board games in the Net.">
  <meta name="keywords" content="hootboardgame, board, game">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
<div class="left-gap1"><img src="{{ url_for('static', filename='images/spacer.gif') }}" alt="#" border="0"
 height="1" width="6"></div>
<div class="main">
<div class="header">
<div class="nav-area">
<ul class="nav">
  <li style="border: medium none ;"><a href='http://phorumledge-hootboardgame.rhcloud.com/'>HootBoardGame</a></li>
  <li style="border: medium none ;"><a href='http://phorumledge-hootboardgame.rhcloud.com/'>HootBoardGame</a></li>
  <li><a href='{{ url_for("reports") }}'>Menciones</a></li>
  <li>Comparativas</li>
     <li>Líderes de opinión</li>
  <li>Seguimiento</li>
  <li><a href='{{ url_for("faqs") }}'>Preguntas y respuestas</a></li>
    <li>Contacto</li>
</ul>
</div>
<div class="banner-area"><img src="{{ url_for('static', filename='images/banner-1.jpg') }}" alt="#"
 border="0"></div>
</div>
<div class="mid">
<div class="mid-left">
<h3>Herramientas<br>
</h3>
<ul class="left-item">
  <li><a href="{{ url_for('reports') }}">Menciones<br>
    </a></li>
  <li><a href="{{ url_for('comparatives') }}">Comparativas<br>
    </a></li>
    <li><a href="{{ url_for('people') }}">Líderes de opinión<br>
    </a></li>
      <li><a href='{{ url_for("following") }}'>Seguimiento<br>
    </a></li>
  <li><a href='{{ url_for("faqs") }}'>Preguntas y respuestas<br>
    </a></li>
  <li><a href='{{ url_for("contact") }}'>Contacto<br>
    </a></li>
</ul>
</div>
<div class="mid-right">
<h1>Menciones</h1>
<p class="txt-1">
Prototype 0.04 / 2014/03/30  <br/>
<hr/>
</p>
    <p class="txt-1">
    <b>Fuentes de información: </b> <br/>
    <ul>
    <li> LaBSK: 3.405 hilos con 99.531 mensajes.
     </li>
    </ul>
</p>
<p class="txt-1">
    <b>Informes de menciones: </b>
    <br/>
    <i> Se actualizan 2 o 3 veces al día. </i>
    <br/>

    <ul>
        <li><a href='{{ url_for("static_hootboardgame") }}'> HootBoardGame. </a>
     </li>
    <li><a href='{{ url_for("static_tienda_click_and_rol") }}'> Tienda Clickandrol. </a>
    </li>
    <li><a href='{{ url_for("static_tienda_evolution_goya") }}'> Tienda Evolution Goya. </a>
    </li>
    <li><a href='{{ url_for("static_tienda_finplay") }}'> Tienda Finplay. </a>
    </li>
    <li><a href='{{ url_for("static_tienda_mas_que_oca") }}'> Tienda Más que Oca. </a>
    </li>
    <li><a href='{{ url_for("static_tienda_tablerum") }}'> Tienda Tablerum. </a>
    </li>
    <li><a href='{{ url_for("static_tienda_zacatrus") }}'> Tienda Zacatrus. </a>
    </li>
    <li><a href='{{ url_for("static_tienda_demartina") }}'> Tienda DeMartina. </a>
    </li>
    <li><a href='{{ url_for("static_asylum_games") }}'> Editorial Asylum Games y sus juegos. </a>
    </li>
    <li><a href='{{ url_for("static_asmodee_games") }}'> Editorial Asmodee. </a>
    </li>
    <li><a href='{{ url_for("static_dizemo_ent") }}'> Editorial Dizemo Entertainment. </a>
    </li>
    <li><a href='{{ url_for("static_morapiaf") }}'> Editorial Morapiaf. </a>
    </li>

    </ul>
</p>
<br>

<br/>
    <p class="txt-1">
        HootBoardGame busca las menciones de un conjunto de palabras claves en las fuentes de informacion indexadas y devuelve un resultado con las menciones de dichas palabras.
<br/>
        Las herramientas definir búsquedas no están implementadas aún. Mientras puedes consultar alguno de los informes disponibles o solicitar que incluyamos un nuevo informe via correo electronico.
    </p>
</div>
    <br/>
    <hr/>
    <br/>
    <p class="txt-1"> Puedes ponerte en contacto con HootBoardGame en esta dirección: hootboardgame_arroba_yahoo.es</p>
</div>
<div class="footer">
<p class="copyright-text">Copyright 2010. Designed by <a target="_blank"
 href="http://www.htmltemplates.net/">html templates</a></p>
</div>
</div>
<div class="right-gap1"><img src="images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
</div>

<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="{{ url_for('static', filename='images/footnote.gif') }}" class="copyright" alt="htmltemplates.net"></a>
<!--In partnership with--><a href="http://websitetemplates.net">
<img src="{{ url_for('static', filename='images/footnote.gif') }}" class="copyright" alt="websitetemplates.net"></a>
<!--DO NOT Remove The Footer Links-->

</body>
</html>
