<!DOCTYPE html>
<html>
<head>
    <title>HootBoardGame</title>
</head>
<body>
Report page <br/>
Prototype 0.01 / 2014/02/19<br/>
<hr/>
<br/>
<p>
Un report es un conjunto de palabras claves. HootBoardGame busca esas palabras claves en las fuentes de informacion que tiene indexadas (por ahora solo el foro de LaBSK) y devuelve un resultado con las menciones de dichas palabras.
</p>
<p>
Las herramientas para crear informes no estan implementadas. Mientras puedes consultar alguno de los informes disponibles o solicitar que incluyamos un nuevo informe via correo electronico.
</p>

<p>
     <b> Informes disponibles: </b><br/>
    <br/>
<a href='{{ url_for("static_asylum_games") }}'> Asylum Games report. </a><br/>
<a href='{{ url_for("static_devir_games") }}'> Devir report. </a><br/>
</p>
<hr/>
607 hilos y 9850 mensajes para buscar.
</body>
</html>