<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HootBoardGame</title>
  <meta name="description" content="HootBoardGame. Your control panel to discover everything about board games in the Net.">
  <meta name="keywords" content="hootboardgame, board, game">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
<div class="left-gap1"><img src="/static/images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
<div class="main">
<div class="header">
<div class="nav-area">
<ul class="nav">
  <li style="border: medium none ;"><a href='http://phorumledge-hootboardgame.rhcloud.com/'>HootBoardGame</a></li>
  <li>Menciones</li>
  <li>Comparativa</li>
  <li>Líderes de opinión</li>
  <li>Seguimiento</li>
  <li>Preguntas y respuestas</li>
  <li>Contacto</li>
</ul>
</div>
<div class="banner-area"><img src="/static/images/banner-1.jpg" alt="#"
 border="0"></div>
</div>
<div class="mid">
<div class="mid-left">
<h3>Herramientas<br>
</h3>
<ul class="left-item">
  <li><a href="http://phorumledge-hootboardgame.rhcloud.com/reports">Menciones<br>
    </a></li>
  <li><a href="http://phorumledge-hootboardgame.rhcloud.com/comparatives">Comparativas<br>
    </a></li>
    <li><a href="http://phorumledge-hootboardgame.rhcloud.com/people">Líderes de opinión<br>
    </a></li>
      <li><a href='http://phorumledge-hootboardgame.rhcloud.com/following'>Seguimiento<br>
    </a></li>

  <li><a href='http://phorumledge-hootboardgame.rhcloud.com/faqs'>Preguntas y respuestas<br>
    </a></li>
  <li><a href='http://phorumledge-hootboardgame.rhcloud.com/contact'>Contacto<br>
    </a></li>
</ul>
</div>
<div class="mid-right">
<h1>Informe de menciones</h1>
    <p class="txt-1">
        HootBoardGame. Prototype 0.03 / 2014/03/16  <br/>
        <hr/>
    </p>
    <br/>
    <h2>Result for report Tienda Clickandrol. </h2>
    <p class="txt-1">

 Generado el 2014-03-16
<br/>
Para este informe se han consultado los siguientes hilos de LaBSK: ['Novedades / Actualidad', 'Jornadas', 'Juegos de mesa en los medios', 'Ayudas de juegos', 'Variantes', 'Dudas de reglas', 'Componentes y erratas', 'Software', 'Videojuegos', 'Resenyas escritas', 'Videoresenyas', 'Otras resenyas', 'Sesiones de juego', 'Divulgacion ludica', 'Recomendados', 'Ezines', 'Podcasts', 'Juego del mes', 'Wargames', 'Humor grafico', 'Curiosidades', 'Pasatiempos', 'De jugon a jugon', 'Que os parece', 'Analizando a...', 'Ayudadme a elegir', 'BSK', 'Besequero de la semana', 'Sondeos', 'Quedadas', 'Quedadas en Madrid', 'Quedadas en Barcelona', 'Quedadas en Sevilla', 'Jugar en Linea', 'Print and Play', 'Talleres', 'Concurso', 'Compro-Vendo-Cambio', 'Ofertas', 'Pedidos masivos y Preorders', 'Cajon desastre', 'Enlaces'] hasta la fecha.
<br/>
Ordenado por fecha de más actual a más antiguo.
    <br/>
    Solo se muestran los mensajes que contienen los términos de la busqueda.
    Si los términos están contenidos en el título del asunto, no se muestra ninguno de los mensajes
    </p>
<br/>
    <p class="txt-2">
        
            Asuntos encontrados: 3
            <br/>
        
            Mensajes encontrados: 1
            <br/>
        
    </p>

    <br/>

<h3>Keyword: click and rol </h3>

    
    </p>
    <hr/>

<h3>Keyword: clickandrol </h3>

    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Ofertas /
                    <a href=" http://labsk.net/index.php?topic=127432.0"> Reapertura de Clickandrol </a>
                </p>
                Último mensaje: <i> 15 de Marzo de 2014, 09:25:53 pm ».</i> <br/>
                Creado el: <i> 11 de Febrero de 2014, 03:20:46 pm ».</i> <br/>
                Respuestas totales: <b>30 </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Ofertas /
                    <a href=" http://labsk.net/index.php?topic=122746.0"> Black Sunday en Click&Rol </a>
                </p>
                Último mensaje: <i> 01 de Diciembre de 2013, 01:26:41 pm ».</i> <br/>
                Creado el: <i> 01 de Diciembre de 2013, 01:26:41 pm ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             01 de Diciembre de 2013, 01:26:41 pm »  / <a href=" http://labsk.net/index.php?topic=122746.0#msg_1187478"> http://labsk.net/index.php?topic=122746.0#msg_1187478 </a>
            </p>
            Buenas,<br/>Han puesto de ofertas bastantes cosas interesantes en <br/>http://www.clickandrol.com/black-sunday/<br/>.<br/>Saludos.<br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Ofertas /
                    <a href=" http://labsk.net/index.php?topic=121765.0"> Oferta Gastos de envío en clickandrol.com </a>
                </p>
                Último mensaje: <i> 16 de Noviembre de 2013, 01:01:17 am ».</i> <br/>
                Creado el: <i> 16 de Noviembre de 2013, 01:01:17 am ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
    </p>
    <hr/>




</div>
<div class="footer">
<p class="copyright-text">Copyright 2010. Designed by <a target="_blank"
 href="http://www.htmltemplates.net/">html templates</a></p>
</div>
</div>
<div class="right-gap1"><img src="/static/images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
</div>

<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="/static/images/footnote.gif" class="copyright" alt="htmltemplates.net"></a>
<!--In partnership with--><a href="http://websitetemplates.net">
<img src="/static/images/footnote.gif" class="copyright" alt="websitetemplates.net"></a>
<!--DO NOT Remove The Footer Links-->
</div>
</body>
</html>