<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HootBoardGame</title>
  <meta name="description" content="HootBoardGame. Your control panel to discover everything about board games in the Net.">
  <meta name="keywords" content="hootboardgame, board, game">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
<div class="left-gap1"><img src="/static/images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
<div class="main">
<div class="header">
<div class="nav-area">
<ul class="nav">
  <li style="border: medium none ;"><a href='http://phorumledge-hootboardgame.rhcloud.com/'>HootBoardGame</a></li>
  <li>Menciones</li>
  <li>Comparativa</li>
  <li>Líderes de opinión</li>
  <li>Seguimiento</li>
  <li>Preguntas y respuestas</li>
  <li>Contacto</li>
</ul>
</div>
<div class="banner-area"><img src="/static/images/banner-1.jpg" alt="#"
 border="0"></div>
</div>
<div class="mid">
<div class="mid-left">
<h3>Herramientas<br>
</h3>
<ul class="left-item">
  <li><a href="http://phorumledge-hootboardgame.rhcloud.com/reports">Menciones<br>
    </a></li>
  <li><a href="http://phorumledge-hootboardgame.rhcloud.com/comparatives">Comparativas<br>
    </a></li>
    <li><a href="http://phorumledge-hootboardgame.rhcloud.com/people">Líderes de opinión<br>
    </a></li>
      <li><a href='http://phorumledge-hootboardgame.rhcloud.com/following'>Seguimiento<br>
    </a></li>

  <li><a href='http://phorumledge-hootboardgame.rhcloud.com/faqs'>Preguntas y respuestas<br>
    </a></li>
  <li><a href='http://phorumledge-hootboardgame.rhcloud.com/contact'>Contacto<br>
    </a></li>
</ul>
</div>
<div class="mid-right">
<h1>Informe de menciones</h1>
    <p class="txt-1">
        HootBoardGame. Prototype 0.03 / 2014/03/16  <br/>
        <hr/>
    </p>
    <br/>
    <h2>Result for report Tienda Evolution Goya. </h2>
    <p class="txt-1">

 Generado el 2014-03-17
<br/>
Para este informe se han consultado los siguientes hilos de LaBSK: ['Novedades / Actualidad', 'Jornadas', 'Juegos de mesa en los medios', 'Ayudas de juegos', 'Variantes', 'Dudas de reglas', 'Componentes y erratas', 'Software', 'Videojuegos', 'Resenyas escritas', 'Videoresenyas', 'Otras resenyas', 'Sesiones de juego', 'Divulgacion ludica', 'Recomendados', 'Ezines', 'Podcasts', 'Juego del mes', 'Wargames', 'Humor grafico', 'Curiosidades', 'Pasatiempos', 'De jugon a jugon', 'Que os parece', 'Analizando a...', 'Ayudadme a elegir', 'BSK', 'Besequero de la semana', 'Sondeos', 'Quedadas', 'Quedadas en Madrid', 'Quedadas en Barcelona', 'Quedadas en Sevilla', 'Jugar en Linea', 'Print and Play', 'Talleres', 'Concurso', 'Compro-Vendo-Cambio', 'Consulta de compras en tiendas', 'Publicidad', 'Ofertas', 'Pedidos masivos y Preorders', 'Cajon desastre', 'Enlaces'] hasta la fecha.
<br/>
Ordenado por fecha de más actual a más antiguo.
    <br/>
    Solo se muestran los mensajes que contienen los términos de la busqueda.
    Si los términos están contenidos en el título del asunto, no se muestra ninguno de los mensajes
    </p>
<br/>
    <p class="txt-2">
        
            Asuntos encontrados: 15
            <br/>
        
            Mensajes encontrados: 18
            <br/>
        
            Se omiten asuntos sin mensajes desde el 2014 o posteriores
            <br/>
        
    </p>

    <br/>

<h3>Keyword: evolution goya </h3>

    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Ofertas /
                    <a href=" http://labsk.net/index.php?topic=104318.0"> Amazon.es </a>
                </p>
                Último mensaje: <i> 16 de Marzo de 2014, 10:43:36 pm ».</i> <br/>
                Creado el: <i> 04 de Enero de 2013, 12:20:19 pm ».</i> <br/>
                Respuestas totales: <b>889 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             08 de Noviembre de 2013, 08:13:15 pm »  / <a href=" http://labsk.net/index.php?topic=104318.0#msg_1175681"> http://labsk.net/index.php?topic=104318.0#msg_1175681 </a>
            </p>
            Cita de: luisjaenero en 08 de Noviembre de 2013, 07:52:58 pm<br/>Yo lo he pillado a 28, la primera vez que me metí me salió a 41 pero le id a F5 para refrescar y me salió a 28.<br/>El caso es que  si pinchas el enlace del escape de arriba te sale el juego a 41, pero si lo buscas desde el buscador de amazon.es sale a 28 pero pinchas sobre el juego y vuelve a salir a 41, qué raro!<br/>41 es el precio al que lo vende la tienda Evolution Goya. Imagino que habrás tenido la suerte de cogerlo cuando Amazon tenía stock. <br/>Felicidades por la compra <br/> Según dicen, te va a venir la versión francesa.<br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Que os parece /
                    <a href=" http://labsk.net/index.php?topic=128092.0"> Blue Max, ¿qué os parece? </a>
                </p>
                Último mensaje: <i> 08 de Marzo de 2014, 10:29:28 pm ».</i> <br/>
                Creado el: <i> 22 de Febrero de 2014, 12:06:40 pm ».</i> <br/>
                Respuestas totales: <b>13 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             25 de Febrero de 2014, 10:28:23 am »  / <a href=" http://labsk.net/index.php?topic=128092.0#msg_1234795"> http://labsk.net/index.php?topic=128092.0#msg_1234795 </a>
            </p>
            Yo lo tuve ayer en la mano en Evolution Goya y la verdad es que me sorprendió el peso de la caja. Mucho material dentro porque era contundente.<br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Quedadas en Madrid /
                    <a href=" http://labsk.net/index.php?topic=126412.0"> zona manuel becerra-ventas-quintana-ciudad lineal </a>
                </p>
                Último mensaje: <i> 05 de Marzo de 2014, 08:27:19 pm ».</i> <br/>
                Creado el: <i> 27 de Enero de 2014, 03:53:37 pm ».</i> <br/>
                Respuestas totales: <b>26 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             31 de Enero de 2014, 06:15:45 pm »  / <a href=" http://labsk.net/index.php?topic=126412.0#msg_1220632"> http://labsk.net/index.php?topic=126412.0#msg_1220632 </a>
            </p>
            Si no te gusta Evolution Goya por su masificación, acercaros a nuestra otra tienda en Alonso Martinez (Evolution Store) (no os queda muy lejos) al ser más grande hay sitio para todo<br/> <br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Quedadas en Madrid /
                    <a href=" http://labsk.net/index.php?topic=126087.0"> Día del Diseñador - Sesión I: Domingo 2 de Marzo, 16:30h.-22:00h., CABA (Aluche) </a>
                </p>
                Último mensaje: <i> 23 de Febrero de 2014, 06:23:23 pm ».</i> <br/>
                Creado el: <i> 22 de Enero de 2014, 11:16:54 am ».</i> <br/>
                Respuestas totales: <b>167 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             12 de Febrero de 2014, 10:53:19 am »  / <a href=" http://labsk.net/index.php?topic=126087.0#msg_1228102"> http://labsk.net/index.php?topic=126087.0#msg_1228102 </a>
            </p>
            Y que fuera el Sábado por la tarde no se podría verdad? Es que subir a Madrid me cuesta horrores (y dineros) y el sábado voy al torneo de Carcassonne en Evolution Goya.<br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Quedadas en Madrid /
                    <a href=" http://labsk.net/index.php?topic=128039.0"> Torneo clasificatorio Catan Evolution Goya </a>
                </p>
                Último mensaje: <i> 21 de Febrero de 2014, 09:09:04 am ».</i> <br/>
                Creado el: <i> 21 de Febrero de 2014, 09:09:04 am ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=128038.0"> III Liga X-Wing Evolution Goya (Madrid) </a>
                </p>
                Último mensaje: <i> 21 de Febrero de 2014, 09:06:34 am ».</i> <br/>
                Creado el: <i> 21 de Febrero de 2014, 09:06:34 am ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Quedadas en Madrid /
                    <a href=" http://labsk.net/index.php?topic=127871.0"> Store Championship Star Wars LCG Evolution Goya 2 Marzo </a>
                </p>
                Último mensaje: <i> 18 de Febrero de 2014, 03:37:40 pm ».</i> <br/>
                Creado el: <i> 18 de Febrero de 2014, 03:37:40 pm ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Quedadas en Madrid /
                    <a href=" http://labsk.net/index.php?topic=126937.0"> Torneo Carcassonne EvoGoya (clasificatorio nacional) 15 febrero </a>
                </p>
                Último mensaje: <i> 14 de Febrero de 2014, 09:15:10 am ».</i> <br/>
                Creado el: <i> 04 de Febrero de 2014, 10:11:54 am ».</i> <br/>
                Respuestas totales: <b>4 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             04 de Febrero de 2014, 10:11:54 am »  / <a href=" http://labsk.net/index.php?topic=126937.0#msg_1222457"> http://labsk.net/index.php?topic=126937.0#msg_1222457 </a>
            </p>
            Ya está aquí la oportunidad de clasificarte para el CAMPEONATO NACIONAL DE CARCASSONNE. Uno de los juegos de mesa más populares ya tiene en Evolution Goya su prueba CLASIFICATORIA para el Campeonato Nacional Carcassonne.<br/>FECHA: Sábado, 15 de Febrero 2013, 10:30 h.<br/>INSCRIPCION: 3 <br/>PLAZAS: Máximo 28 Jugadores<br/>LUGAR: Evolution Goya - C/ Mártires Concepcionistas 5, 28006 Madrid<br/>TELÉFONO DE CONTACTO: 91 281 90 99<br/>E-MAIL: <br/>PREMIOS:<br/>Carcassonne, Mares del Sur para el primer clasificado<br/> Vales de tienda para los primeros clasificados y sorteo<br/> Plazas para el Nacional dependiendo de la asistencia: <br/>4-12 jugadores, una plaza; 13-24 jugadores, dos plazas; 25+ jugadores, tres plazas<br/>Para inscribirse y resto de información:<br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Quedadas en Madrid /
                    <a href=" http://labsk.net/index.php?topic=126971.0"> Torneo Android Netrunner EvoGoya 15 febrero </a>
                </p>
                Último mensaje: <i> 04 de Febrero de 2014, 04:38:35 pm ».</i> <br/>
                Creado el: <i> 04 de Febrero de 2014, 04:38:35 pm ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             04 de Febrero de 2014, 04:38:35 pm »  / <a href=" http://labsk.net/index.php?topic=126971.0#msg_1222762"> http://labsk.net/index.php?topic=126971.0#msg_1222762 </a>
            </p>
            El próximo sábado 15 de Febrero celebramos torneo de tienda de Android Netrunner dentro del Juego Organizado de Edge<br/>FECHA: Sábado, 15 de Febrero 2013, 10:30 h.<br/>INSCRIPCION: 4 <br/>PLAZAS: Máximo 40 Jugadores<br/>LUGAR: Evolution Goya - C/ Mártires Concepcionistas 5, 28006 Madrid<br/>TELÉFONO DE CONTACTO: 91 281 90 99<br/>E-MAIL: <br/>PREMIOS:<br/>Campeón: una placa como reconocimiento de su primer puesto, una caja para cartas exclusiva y un bye (primera ronda ganada con el mejor desempate) en uno de los torneos regionales a celebrar en 2014.<br/>Finalista: una caja para cartas exclusiva<br/>Top4: un tapete exclusivo del evento (para cada uno)<br/>Top32: una carta exclusiva del evento con arte alternativo (para cada uno)<br/>Las inscripciones y toda la información completa la podéis hacer a través del siguiente link<br/>Cualquier duda por aquí también la podéis plantear.<br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
    </p>
    <hr/>

<h3>Keyword: Evolution Store </h3>

    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Consulta de compras en tiendas /
                    <a href=" http://labsk.net/index.php?topic=128898.0"> Juegos en reposición </a>
                </p>
                Último mensaje: <i> 13 de Marzo de 2014, 10:18:43 am ».</i> <br/>
                Creado el: <i> 07 de Marzo de 2014, 05:25:00 pm ».</i> <br/>
                Respuestas totales: <b>5 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             10 de Marzo de 2014, 10:24:20 pm »  / <a href=" http://labsk.net/index.php?topic=128898.0#msg_1241064"> http://labsk.net/index.php?topic=128898.0#msg_1241064 </a>
            </p>
            En estas tienda de Madrid (padis) les quedan tres unidades del juego base, además de bastantes expansiones del Memoir 44 y tambien tienen el zombicide:<br/>http://www.padisl5r.com/index.asp?juego=&id=<br/>En evolution store también tienen y creo que envian por correo, si no vives en Madrid:<br/>Memoir 44:<br/>http://magicevolution.com/fichaProducto.php?id=2306<br/>Zombicide:<br/>http://magicevolution.com/fichaProducto.php?id=4757<br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Jornadas /
                    <a href=" http://labsk.net/index.php?topic=129098.0"> Torneo Clasificatorio Catan (Evolution Store) </a>
                </p>
                Último mensaje: <i> 11 de Marzo de 2014, 01:38:12 pm ».</i> <br/>
                Creado el: <i> 11 de Marzo de 2014, 01:38:12 pm ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Quedadas en Sevilla /
                    <a href=" http://labsk.net/index.php?topic=118073.0"> Mage Wars </a>
                </p>
                Último mensaje: <i> 05 de Marzo de 2014, 08:28:13 pm ».</i> <br/>
                Creado el: <i> 06 de Octubre de 2013, 08:46:19 pm ».</i> <br/>
                Respuestas totales: <b>31 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             07 de Enero de 2014, 10:32:35 am »  / <a href=" http://labsk.net/index.php?topic=118073.0#msg_1205153"> http://labsk.net/index.php?topic=118073.0#msg_1205153 </a>
            </p>
            Esta tarde estaremos dos personas jugando una partida en Evolution store en Sevilla,  en calle Febo. Si alguien se quiere pasar a ver la mecánica del juego y organizar un dia para poder enseñarle,  será bienvenido! <br/>Un saludo.<br/>
            <br/>
            </td> </tr>
        
            <tr> <td>
            <p class="h5">
             13 de Enero de 2014, 12:50:49 pm »  / <a href=" http://labsk.net/index.php?topic=118073.0#msg_1208762"> http://labsk.net/index.php?topic=118073.0#msg_1208762 </a>
            </p>
            Mañana por la tarde, salvo causa mayor (avisaría por aquí) desde las 17:30 hasta el cierre, seremos dos personas jugando a Mage Wars en Evolution Store, en calle Febo. Si alguien se quiere pasar lo recibiremos muy cordialmente <br/>
            <br/>
            </td> </tr>
        
            <tr> <td>
            <p class="h5">
             25 de Enero de 2014, 08:41:31 pm »  / <a href=" http://labsk.net/index.php?topic=118073.0#msg_1216984"> http://labsk.net/index.php?topic=118073.0#msg_1216984 </a>
            </p>
            Martes 28 de enero estaremos en Evolution store en Sevilla,  calle Febo, a partir de las 18.00 jugando a Mage Wars,  si alguien está interesado en echarle un ojo al juego será bienvenidísimo!! <br/>Te esperamos! !<br/>
            <br/>
            </td> </tr>
        
            <tr> <td>
            <p class="h5">
             03 de Febrero de 2014, 06:48:34 pm »  / <a href=" http://labsk.net/index.php?topic=118073.0#msg_1222004"> http://labsk.net/index.php?topic=118073.0#msg_1222004 </a>
            </p>
            Pues otra vez lo dejo caer por aquí. <br/>Mañana Martes día 4 de Febrero, sobre las 18.00 horas, estaremos jugando a Mage Wars en Evolution store en calle Febo, en Sevilla.  Si quieres echarle un ojo al juego allí estaremos para recibirte con los brazos abiertos <br/>
            <br/>
            </td> </tr>
        
            <tr> <td>
            <p class="h5">
             04 de Marzo de 2014, 07:38:58 pm »  / <a href=" http://labsk.net/index.php?topic=118073.0#msg_1238663"> http://labsk.net/index.php?topic=118073.0#msg_1238663 </a>
            </p>
            Mañana a partir de las 18.00 estaremos jugando a Mage Wars en la tienda Evolution store de calle Febo en Sevilla. Si alguien se quiere pasar y echar un ojo al juego estaremos encantados de explicárselo.  <br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Quedadas en Madrid /
                    <a href=" http://labsk.net/index.php?topic=126412.0"> zona manuel becerra-ventas-quintana-ciudad lineal </a>
                </p>
                Último mensaje: <i> 05 de Marzo de 2014, 08:27:19 pm ».</i> <br/>
                Creado el: <i> 27 de Enero de 2014, 03:53:37 pm ».</i> <br/>
                Respuestas totales: <b>26 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             31 de Enero de 2014, 06:15:45 pm »  / <a href=" http://labsk.net/index.php?topic=126412.0#msg_1220632"> http://labsk.net/index.php?topic=126412.0#msg_1220632 </a>
            </p>
            Si no te gusta Evolution Goya por su masificación, acercaros a nuestra otra tienda en Alonso Martinez (Evolution Store) (no os queda muy lejos) al ser más grande hay sitio para todo<br/> <br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=127112.0"> Jaipur, por Asmodee Ibérica </a>
                </p>
                Último mensaje: <i> 27 de Febrero de 2014, 07:53:08 pm ».</i> <br/>
                Creado el: <i> 06 de Febrero de 2014, 01:00:14 pm ».</i> <br/>
                Respuestas totales: <b> </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             06 de Febrero de 2014, 11:18:53 pm »  / <a href=" ">  </a>
            </p>
            Hoy lo he visto en evolution store, viene con el manual en varios idiomas incluido el español. Es un pequeño gran juego. 
            <br/>
            </td> </tr>
        
            <tr> <td>
            <p class="h5">
             06 de Febrero de 2014, 11:18:53 pm »  / <a href=" http://labsk.net/index.php?topic=127112.0#msg_1224546"> http://labsk.net/index.php?topic=127112.0#msg_1224546 </a>
            </p>
            Hoy lo he visto en evolution store, viene con el manual en varios idiomas incluido el español. Es un pequeño gran juego. <br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Que os parece /
                    <a href=" http://labsk.net/index.php?topic=117107.0"> Krosmaster: Arena ¿qué os parece? </a>
                </p>
                Último mensaje: <i> 16 de Febrero de 2014, 10:58:43 am ».</i> <br/>
                Creado el: <i> 22 de Septiembre de 2013, 05:26:59 am ».</i> <br/>
                Respuestas totales: <b>182 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             02 de Octubre de 2013, 12:36:29 am »  / <a href=" http://labsk.net/index.php?topic=117107.0#msg_1159557"> http://labsk.net/index.php?topic=117107.0#msg_1159557 </a>
            </p>
            Aquí pone "Ankama". Y mi copia está en castellano. Las dos tiendas que me consta que lo venden son Generación X y Evolution Store.<br/>
            <br/>
            </td> </tr>
        
            <tr> <td>
            <p class="h5">
             06 de Octubre de 2013, 05:00:25 pm »  / <a href=" http://labsk.net/index.php?topic=117107.0#msg_1161047"> http://labsk.net/index.php?topic=117107.0#msg_1161047 </a>
            </p>
            Sí, y el bárbaro negro de 25 puntos de vida yo diría que también es bastante bruto.<br/>Voy a explicarme mejor:<br/>En dos tiendas, generación X y Evolution Store, TE CAMBIAN la figura por una abierta en caso de que te toque una del básico. <br/> Al menos hasta donde yo conozco.<br/>Esto está hecho así para reducir la sensación de frustración cuando te toca un muñeco que ya viene en el básico (cosa que me pasó a mí ayer en otra tienda, y ahora tengo dos Constantimos uno de los cuales no me interesa).<br/>
            <br/>
            </td> </tr>
        
            <tr> <td>
            <p class="h5">
             06 de Noviembre de 2013, 12:20:59 am »  / <a href=" http://labsk.net/index.php?topic=117107.0#msg_1174046"> http://labsk.net/index.php?topic=117107.0#msg_1174046 </a>
            </p>
            Al menos en Generacion X (Puebla y Carranza seguro, y el resto supongo que también), Evolution Store y  en Metrópolis Center sí. <br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
    </p>
    <hr/>




</div>
<div class="footer">
<p class="copyright-text">Copyright 2010. Designed by <a target="_blank"
 href="http://www.htmltemplates.net/">html templates</a></p>
</div>
</div>
<div class="right-gap1"><img src="/static/images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
</div>

<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="/static/images/footnote.gif" class="copyright" alt="htmltemplates.net"></a>
<!--In partnership with--><a href="http://websitetemplates.net">
<img src="/static/images/footnote.gif" class="copyright" alt="websitetemplates.net"></a>
<!--DO NOT Remove The Footer Links-->
</div>
</body>
</html>