<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HootBoardGame</title>
  <meta name="description" content="HootBoardGame. Your control panel to discover everything about board games in the Net.">
  <meta name="keywords" content="hootboardgame, board, game">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
<div class="left-gap1"><img src="/static/images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
<div class="main">
<div class="header">
<div class="nav-area">
<ul class="nav">
  <li style="border: medium none ;"><a href='http://phorumledge-hootboardgame.rhcloud.com/'>HootBoardGame</a></li>
  <li>Menciones</li>
  <li>Comparativa</li>
  <li>Líderes de opinión</li>
  <li>Seguimiento</li>
  <li>Preguntas y respuestas</li>
  <li>Contacto</li>
</ul>
</div>
<div class="banner-area"><img src="/static/images/banner-1.jpg" alt="#"
 border="0"></div>
</div>
<div class="mid">
<div class="mid-left">
<h3>Herramientas<br>
</h3>
<ul class="left-item">
  <li><a href="http://phorumledge-hootboardgame.rhcloud.com/reports">Menciones<br>
    </a></li>
  <li><a href="http://phorumledge-hootboardgame.rhcloud.com/comparatives">Comparativas<br>
    </a></li>
    <li><a href="http://phorumledge-hootboardgame.rhcloud.com/people">Líderes de opinión<br>
    </a></li>
      <li><a href='http://phorumledge-hootboardgame.rhcloud.com/following'>Seguimiento<br>
    </a></li>

  <li><a href='http://phorumledge-hootboardgame.rhcloud.com/faqs'>Preguntas y respuestas<br>
    </a></li>
  <li><a href='http://phorumledge-hootboardgame.rhcloud.com/contact'>Contacto<br>
    </a></li>
</ul>
</div>
<div class="mid-right">
<h1>Informe de menciones</h1>
    <p class="txt-1">
        HootBoardGame. Prototype 0.03 / 2014/03/16  <br/>
        <hr/>
    </p>
    <br/>
    <h2>Result for report Tienda Dungeon Marvels. </h2>
    <p class="txt-1">

 Generado el 2014-03-17
<br/>
Para este informe se han consultado los siguientes hilos de LaBSK: ['Novedades / Actualidad', 'Jornadas', 'Juegos de mesa en los medios', 'Ayudas de juegos', 'Variantes', 'Dudas de reglas', 'Componentes y erratas', 'Software', 'Videojuegos', 'Resenyas escritas', 'Videoresenyas', 'Otras resenyas', 'Sesiones de juego', 'Divulgacion ludica', 'Recomendados', 'Ezines', 'Podcasts', 'Juego del mes', 'Wargames', 'Humor grafico', 'Curiosidades', 'Pasatiempos', 'De jugon a jugon', 'Que os parece', 'Analizando a...', 'Ayudadme a elegir', 'BSK', 'Besequero de la semana', 'Sondeos', 'Quedadas', 'Quedadas en Madrid', 'Quedadas en Barcelona', 'Quedadas en Sevilla', 'Jugar en Linea', 'Print and Play', 'Talleres', 'Concurso', 'Compro-Vendo-Cambio', 'Consulta de compras en tiendas', 'Publicidad', 'Ofertas', 'Pedidos masivos y Preorders', 'Cajon desastre', 'Enlaces'] hasta la fecha.
<br/>
Ordenado por fecha de más actual a más antiguo.
    <br/>
    Solo se muestran los mensajes que contienen los términos de la busqueda.
    Si los términos están contenidos en el título del asunto, no se muestra ninguno de los mensajes
    </p>
<br/>
    <p class="txt-2">
        
            Asuntos encontrados: 11
            <br/>
        
            Mensajes encontrados: 9
            <br/>
        
    </p>

    <br/>

<h3>Keyword: dungeon marvels </h3>

    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Publicidad /
                    <a href=" http://labsk.net/index.php?topic=129255.0"> ELDRITCH HORROR de Edge, pre-order con 12% de descuento y miniatura premium </a>
                </p>
                Último mensaje: <i> 13 de Marzo de 2014, 12:41:36 pm ».</i> <br/>
                Creado el: <i> 13 de Marzo de 2014, 12:41:36 pm ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             13 de Marzo de 2014, 12:41:36 pm »  / <a href=" http://labsk.net/index.php?topic=129255.0#msg_1242284"> http://labsk.net/index.php?topic=129255.0#msg_1242284 </a>
            </p>
            Estamos ansiosos por la llegada de Eldritch Horror en castellano. Y es que la promesa de un Arkham Horror a escala global no es para menos.<br/>En Dungeon Marvels hemos querido lanzar una oferta especial de pre-order que no encontraréis en ningún otro sitio: <br/>12% de descuento y una miniatura premium de regalo<br/>, para que la uses en este juego o en cualquier otro juego ambientado en los Mitos de Cthulhu.<br/>Más información:<br/>http://dungeonmarvels.com/tablero/6805-eldritch-horror.html<br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Publicidad /
                    <a href=" http://labsk.net/index.php?topic=126886.0"> ¡Ofertas del día en Dungeon Marvels! Hoy: BATALLAS DE PONIENTE (-16 !!!) </a>
                </p>
                Último mensaje: <i> 05 de Marzo de 2014, 12:21:16 pm ».</i> <br/>
                Creado el: <i> 03 de Febrero de 2014, 02:29:49 pm ».</i> <br/>
                Respuestas totales: <b>8 </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Consulta de compras en tiendas /
                    <a href=" http://labsk.net/index.php?topic=127674.0"> El precio de Lewis & Clark edición española ¿que os parece? </a>
                </p>
                Último mensaje: <i> 20 de Febrero de 2014, 02:02:11 am ».</i> <br/>
                Creado el: <i> 14 de Febrero de 2014, 08:48:31 pm ».</i> <br/>
                Respuestas totales: <b>66 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             14 de Febrero de 2014, 10:30:59 pm »  / <a href=" http://labsk.net/index.php?topic=127674.0#msg_1230142"> http://labsk.net/index.php?topic=127674.0#msg_1230142 </a>
            </p>
            Hum... además con el preorder ese de Dungeon Marvels se queda por menos de 40e, diría que habrá 3 o 4 euros de diferencia, que no es ná! Eso sí, cuando acabe la promo serán casi 8-9 que empieza a fastidiar más.<br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=121831.0"> Entrevista a Óscar Arévalo (Seven Swords) en el Blog de Dungeon Marvels </a>
                </p>
                Último mensaje: <i> 17 de Noviembre de 2013, 02:18:39 pm ».</i> <br/>
                Creado el: <i> 17 de Noviembre de 2013, 02:18:39 pm ».</i> <br/>
                Respuestas totales: <b> </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=113915.0"> Night Eternal, el juego de cartas de True Blood </a>
                </p>
                Último mensaje: <i> 24 de Julio de 2013, 12:12:23 pm ».</i> <br/>
                Creado el: <i> 24 de Julio de 2013, 12:12:23 pm ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             24 de Julio de 2013, 12:12:23 pm »  / <a href=" http://labsk.net/index.php?topic=113915.0#msg_1134947"> http://labsk.net/index.php?topic=113915.0#msg_1134947 </a>
            </p>
            Desde el blog de Dungeon Marvels os hablamos del nuevo juego de cartas basado en la serie de Alan Ball.Toda la información, aquí:
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=113549.0"> Dungeons & Dragons Next </a>
                </p>
                Último mensaje: <i> 16 de Julio de 2013, 07:39:09 pm ».</i> <br/>
                Creado el: <i> 16 de Julio de 2013, 07:39:09 pm ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             16 de Julio de 2013, 07:39:09 pm »  / <a href=" http://labsk.net/index.php?topic=113549.0#msg_1132607"> http://labsk.net/index.php?topic=113549.0#msg_1132607 </a>
            </p>
            Desde el Blog de Dungeon Marvels os traemos nueva información sobre las características de la esperadísima quinta edición de Dungeons & Dragons:
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=113366.0"> Entrevista a Alberto Corral, autor de Náufragos </a>
                </p>
                Último mensaje: <i> 12 de Julio de 2013, 11:59:50 am ».</i> <br/>
                Creado el: <i> 12 de Julio de 2013, 11:59:50 am ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             12 de Julio de 2013, 11:59:50 am »  / <a href=" http://labsk.net/index.php?topic=113366.0#msg_1131289"> http://labsk.net/index.php?topic=113366.0#msg_1131289 </a>
            </p>
            En el blog de Dungeon Marvels hemos tenido el placer de hablar con Alberto, habitual de La BSK por lo que tengo entendido, y nos ha contado algunas anécdotas y curiosidades relacionadas con su Náufragos:
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=112503.0"> Sorteamos un Mega Pack: Descent Segunda Ed. + Catán Star Trek </a>
                </p>
                Último mensaje: <i> 25 de Junio de 2013, 07:54:41 pm ».</i> <br/>
                Creado el: <i> 25 de Junio de 2013, 07:36:40 pm ».</i> <br/>
                Respuestas totales: <b>2 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             25 de Junio de 2013, 07:36:40 pm »  / <a href=" http://labsk.net/index.php?topic=112503.0#msg_1124525"> http://labsk.net/index.php?topic=112503.0#msg_1124525 </a>
            </p>
            En Dungeon Marvels llevamos 2 semanas de vida pero estamos tirando la casa por la ventana:Regalamos un pack compuesto por un Descent Segunda Edición y un Catán Star Trek, en nuestra página de Facebook.Aquí tenéis las bases:¡Suerte a todos!
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=111918.0"> ¡Sorteamos una Huida de Silver City! </a>
                </p>
                Último mensaje: <i> 13 de Junio de 2013, 08:42:25 pm ».</i> <br/>
                Creado el: <i> 13 de Junio de 2013, 08:42:25 pm ».</i> <br/>
                Respuestas totales: <b>1 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             13 de Junio de 2013, 08:42:25 pm »  / <a href=" http://labsk.net/index.php?topic=111918.0#msg_1119337"> http://labsk.net/index.php?topic=111918.0#msg_1119337 </a>
            </p>
            Con motivo de la inauguración de Dungeon Marvels, sorteamos una copia de Huida de Silver City cortesía de Peka Editorial.Para concursar, podéis leer las bases en nuestra página de Facebook:Además, recordad que al ser nuestra primera semana de vida, regalamos los gastos de envío de todos los juegos y figuras hasta el miércoles que viene en Gracias y suerte!
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=111852.0"> Inauguramos DungeonMarvels.com!! </a>
                </p>
                Último mensaje: <i> 13 de Junio de 2013, 01:18:49 pm ».</i> <br/>
                Creado el: <i> 12 de Junio de 2013, 02:41:00 pm ».</i> <br/>
                Respuestas totales: <b>5 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             12 de Junio de 2013, 02:41:00 pm »  / <a href=" http://labsk.net/index.php?topic=111852.0#msg_1118516"> http://labsk.net/index.php?topic=111852.0#msg_1118516 </a>
            </p>
            Han sido meses de duro trabajo pero por fin estamos on-line! Somos Dungeon Marvels, una nueva tienda online de juegos de mesa, figuras de coleccionismo y merchandising de cine y televisión, y nos podéis encontrar en Esperemos que os guste la página, nos digáis vuestra opinión y, por supuesto, la compartáis con vuestros amigos!Por cierto, que hasta el 19 de junio tenéis los gastos de envio gratis para celebrar nuestra primera semana de vida.Gracias a todos!
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=106136.0"> Space Alert en español </a>
                </p>
                Último mensaje: <i> .</i> <br/>
                Creado el: <i> 13 de Marzo de 2013, 05:24:27 pm ».</i> <br/>
                Respuestas totales: <b>171 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             08 de Enero de 2014, 06:20:14 pm »  / <a href=" http://labsk.net/index.php?topic=106136.0#msg_1206081"> http://labsk.net/index.php?topic=106136.0#msg_1206081 </a>
            </p>
            Las cartas encajan perfectamente en fundas "tamaño tarot frances" que vende Mayday.<br/>No es que haga publicidad explicita de Dungeon Marvels, es que tras buscar en muevecubos es la unica tienda que me ha salido que las tiene.<br/>
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
    </p>
    <hr/>




</div>
<div class="footer">
<p class="copyright-text">Copyright 2010. Designed by <a target="_blank"
 href="http://www.htmltemplates.net/">html templates</a></p>
</div>
</div>
<div class="right-gap1"><img src="/static/images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
</div>

<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="/static/images/footnote.gif" class="copyright" alt="htmltemplates.net"></a>
<!--In partnership with--><a href="http://websitetemplates.net">
<img src="/static/images/footnote.gif" class="copyright" alt="websitetemplates.net"></a>
<!--DO NOT Remove The Footer Links-->
</div>
</body>
</html>