<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HootBoardGame</title>
  <meta name="description" content="HootBoardGame. Your control panel to discover everything about board games in the Net.">
  <meta name="keywords" content="hootboardgame, board, game">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
<div class="left-gap1"><img src="/static/images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
<div class="main">
<div class="header">
<div class="nav-area">
<ul class="nav">
  <li style="border: medium none ;"><a href='http://phorumledge-hootboardgame.rhcloud.com/'>HootBoardGame</a></li>
  <li>Menciones</li>
  <li>Comparativa</li>
  <li>Líderes de opinión</li>
  <li>Seguimiento</li>
  <li>Preguntas y respuestas</li>
  <li>Contacto</li>
</ul>
</div>
<div class="banner-area"><img src="/static/images/banner-1.jpg" alt="#"
 border="0"></div>
</div>
<div class="mid">
<div class="mid-left">
<h3>Herramientas<br>
</h3>
<ul class="left-item">
  <li><a href="http://phorumledge-hootboardgame.rhcloud.com/reports">Menciones<br>
    </a></li>
  <li><a href="http://phorumledge-hootboardgame.rhcloud.com/comparatives">Comparativas<br>
    </a></li>
    <li><a href="http://phorumledge-hootboardgame.rhcloud.com/people">Líderes de opinión<br>
    </a></li>
      <li><a href='http://phorumledge-hootboardgame.rhcloud.com/following'>Seguimiento<br>
    </a></li>

  <li><a href='http://phorumledge-hootboardgame.rhcloud.com/faqs'>Preguntas y respuestas<br>
    </a></li>
  <li><a href='http://phorumledge-hootboardgame.rhcloud.com/contact'>Contacto<br>
    </a></li>
</ul>
</div>
<div class="mid-right">
<h1>Informe de menciones</h1>
    <p class="txt-1">
        HootBoardGame. Prototype 0.03 / 2014/03/16  <br/>
        <hr/>
    </p>
    <br/>
    <h2>Result for report Editorial Ludonova. </h2>
    <p class="txt-1">

 Generado el 2014-03-17
<br/>
Para este informe se han consultado los siguientes hilos de LaBSK: ['Novedades / Actualidad', 'Jornadas', 'Juegos de mesa en los medios', 'Ayudas de juegos', 'Variantes', 'Dudas de reglas', 'Componentes y erratas', 'Software', 'Videojuegos', 'Resenyas escritas', 'Videoresenyas', 'Otras resenyas', 'Sesiones de juego', 'Divulgacion ludica', 'Recomendados', 'Ezines', 'Podcasts', 'Juego del mes', 'Wargames', 'Humor grafico', 'Curiosidades', 'Pasatiempos', 'De jugon a jugon', 'Que os parece', 'Analizando a...', 'Ayudadme a elegir', 'BSK', 'Besequero de la semana', 'Sondeos', 'Quedadas', 'Quedadas en Madrid', 'Quedadas en Barcelona', 'Quedadas en Sevilla', 'Jugar en Linea', 'Print and Play', 'Talleres', 'Concurso', 'Compro-Vendo-Cambio', 'Consulta de compras en tiendas', 'Publicidad', 'Ofertas', 'Pedidos masivos y Preorders', 'Cajon desastre', 'Enlaces'] hasta la fecha.
<br/>
Ordenado por fecha de más actual a más antiguo.
    <br/>
    Solo se muestran los mensajes que contienen los términos de la busqueda.
    Si los términos están contenidos en el título del asunto, no se muestra ninguno de los mensajes
    </p>
<br/>
    <p class="txt-2">
        
            Asuntos encontrados: 4
            <br/>
        
            Mensajes encontrados: 2
            <br/>
        
            Se omiten asuntos sin mensajes desde el 2014 o posteriores
            <br/>
        
    </p>

    <br/>

<h3>Keyword: Ludonova </h3>

    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                    Salon de te / De jugon a jugon /
                    <a href=" http://labsk.net/index.php?topic=124678.0"> ¿Sabéis cuál será la próxima edición de Ludonova? </a>
                </p>
                Último mensaje: <i> 01 de Marzo de 2014, 09:36:34 am ».</i> <br/>
                Creado el: <i> 01 de Enero de 2014, 11:06:17 pm ».</i> <br/>
                Respuestas totales: <b>14 </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=116018.0"> La Era del Carbón, el nuevo juego de Kramer, será editado por Ludonova </a>
                </p>
                Último mensaje: <i> 28 de Febrero de 2014, 05:44:33 pm ».</i> <br/>
                Creado el: <i> 02 de Septiembre de 2013, 04:19:12 am ».</i> <br/>
                Respuestas totales: <b> </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=105564.0"> La Villa -  Posada (Ludonova) </a>
                </p>
                Último mensaje: <i> 17 de Febrero de 2014, 08:56:14 pm ».</i> <br/>
                Creado el: <i> 05 de Marzo de 2013, 02:31:17 pm ».</i> <br/>
                Respuestas totales: <b> </b> <br/>
        </td></tr>
        
            </table>
        <br/>
        <br/>
    
        <table border ='1' width ="98%">
            <tr> <td>
                <p class="h4">
                     /
                    <a href=" http://labsk.net/index.php?topic=125056.0"> Errata en contenido de La Era del Carbón </a>
                </p>
                Último mensaje: <i> 18 de Enero de 2014, 05:31:13 pm ».</i> <br/>
                Creado el: <i> 07 de Enero de 2014, 11:12:18 pm ».</i> <br/>
                Respuestas totales: <b>9 </b> <br/>
        </td></tr>
        
            <tr> <td>
            <p class="h5">
             10 de Enero de 2014, 09:07:25 am »  / <a href=" http://labsk.net/index.php?topic=125056.0#msg_1207111"> http://labsk.net/index.php?topic=125056.0#msg_1207111 </a>
            </p>
            Acabo de ponerme en contacto con LudoNova y me han contestado al momento indicando que me envian los componentes que faltan.un diez por la atencion.
            <br/>
            </td> </tr>
        
            <tr> <td>
            <p class="h5">
             18 de Enero de 2014, 02:53:56 pm »  / <a href=" http://labsk.net/index.php?topic=125056.0#msg_1212362"> http://labsk.net/index.php?topic=125056.0#msg_1212362 </a>
            </p>
            Perdonad la tardanza. Si me ha pasado con la edición en castellano de Ludonova.Aún no me han llegado pero según la editorial está de camino, así que nada, a esperar.
            <br/>
            </td> </tr>
        
            </table>
        <br/>
        <br/>
    
    </p>
    <hr/>




</div>
<div class="footer">
<p class="copyright-text">Copyright 2010. Designed by <a target="_blank"
 href="http://www.htmltemplates.net/">html templates</a></p>
</div>
</div>
<div class="right-gap1"><img src="/static/images/spacer.gif" alt="#" border="0"
 height="1" width="6"></div>
</div>

<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="/static/images/footnote.gif" class="copyright" alt="htmltemplates.net"></a>
<!--In partnership with--><a href="http://websitetemplates.net">
<img src="/static/images/footnote.gif" class="copyright" alt="websitetemplates.net"></a>
<!--DO NOT Remove The Footer Links-->
</div>
</body>
</html>